<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="uyeler" routerLinkActive="active">
                    <i class="fas fa-users"></i> Üyeler
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="kayitlar" routerLinkActive="active">
                    <i class="fas fa-list-ul"></i> Kayıtlar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="ayarlar" routerLinkActive="active">
                    <i class="fas fa-cog"></i> Kategori ve Ayarlar
                </a>
            </li>
            <a class="btn btn-danger " (click)="cikisYap()">
                <i class="fas fa-sign-out-alt"></i> Çıkış Yap
            </a>
            <li class="nav-item">

            </li>
        </ul>
    </div>
</nav>