<header class="navbar sticky-top bg-gray flex-md-nowrap p-0 shadow">
    <p class="navbar-brand col-md-3 col-lg-2 me-0 px-5">Hoşgeldiniz {{girisYapan}}</p>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
</header>

<div class="container d-flex">
    <div class="col-md-2 mt-1">
        <app-adminside></app-adminside>
    </div>
    <div class="col-md-9 mt-4 mb-5">
        <router-outlet></router-outlet>
    </div>
</div>