<navbar></navbar>
<div class="container mt-3 d-flex">
    <div class="row col-md-3">
        <sidebar></sidebar>
    </div>
    <div class="row col-md-8">
        <div class="card mb-3 ilan">
            <div class="row">
                <div class="col-md-4 m-2">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class=""></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class=""></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" width="" height="200">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" height="200">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" height="200">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">İlan Başlık</h5>
                        <p class="card-text">220.000 <i class="fas fa-lira-sign"></i></p>
                        <p class="card-text"><i class="fas fa-home"></i> Kiralık | <i class="fas fa-bed"></i> 2+1 | 3.Kat</p>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> Antalya - Konyaaltı</p>
                        <p class="card-text"><small class="text-muted">ilan tarihi 03.01.2021</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 ilan">
            <div class="row">
                <div class="col-md-4 m-2">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class=""></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class=""></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" width="" height="200">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" height="200">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" height="200">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">İlan Başlık</h5>
                        <p class="card-text">220.000 <i class="fas fa-lira-sign"></i></p>
                        <p class="card-text"><i class="fas fa-home"></i> Kiralık | <i class="fas fa-bed"></i> 2+1 | 3.Kat</p>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> Antalya - Konyaaltı</p>
                        <p class="card-text"><small class="text-muted">ilan tarihi 03.01.2021</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 ilan">
            <div class="row">
                <div class="col-md-4 m-2">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class=""></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class=""></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" width="" height="200">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" height="200">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" height="200">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">İlan Başlık</h5>
                        <p class="card-text">220.000 <i class="fas fa-lira-sign"></i></p>
                        <p class="card-text"><i class="fas fa-home"></i> Kiralık | <i class="fas fa-bed"></i> 2+1 | 3.Kat</p>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> Antalya - Konyaaltı</p>
                        <p class="card-text"><small class="text-muted">ilan tarihi 03.01.2021</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 ilan">
            <div class="row">
                <div class="col-md-4 m-2">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class=""></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class=""></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" width="" height="200">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" height="200">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn.pixabay.com/photo/2015/03/26/09/47/sky-690293__340.jpg" alt="" height="200">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">İlan Başlık</h5>
                        <p class="card-text">220.000 <i class="fas fa-lira-sign"></i></p>
                        <p class="card-text"><i class="fas fa-home"></i> Kiralık | <i class="fas fa-bed"></i> 2+1 | 3.Kat</p>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> Antalya - Konyaaltı</p>
                        <p class="card-text"><small class="text-muted">ilan tarihi 03.01.2021</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>