<navbar></navbar>
<div class="container mt-3 d-flex">
    <div class="row col-md-3">
        <sidebar></sidebar>
    </div>
    <div class="row col-md-8">
        <div class="card mb-3 ilan " *ngFor="let kayit of kayitlar">
            <div class="row">
                <div class="col-md-4 m-2">
                    <img src="{{kayit.Foto1}}" alt="" width="200" height="200">
                </div>

                <div class="col-md-7">
                    <div class="card-body">
                        <a class="text-decoration-none" [routerLink]="[ '/detay', kayit.key ]">
                            <h4 class="card-title">{{kayit.IlanBaslik}}</h4>
                        </a>

                        <p class="card-text">{{kayit.Fiyat}} <i class="fas fa-lira-sign"></i></p>
                        <p class="card-text"><i class="fas fa-home"></i> {{kayit.IlanTipi}} | <i class="fas fa-bed"></i> {{kayit.OdaSayisi}} | {{kayit.EsyaDurum}} </p>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{kayit.Il}} - {{kayit.Ilce}} </p>
                        <p class="card-text"><small class="text-muted">Bu ilan {{kayit.EklemeTarih| date:'dd/MM/yyyy HH:mm:ss'}} tarihinden eklenmiştir. </small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>