<div class="container mt-2 sidebar">
    <h3>Filtre</h3>
    <hr>
    <form>
        <div class="mb-3">
            <input type="email" class="form-control">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Oda sayısı</option>
                <option value="1">2+1</option>
                <option value="2">1+1</option>
                <option value="3">1+0</option>
              </select>
        </div>
        <div class="mb-3">
            <label>En düşük fiyat</label>
            <input type="number" value="500" step="100" min="0" class="form-control" placeholder="En Düşük Fiyat">
        </div>
        <div class="mb-3">
            <label>En yüksek fiyat</label>
            <input type="number" value="500" step="100" min="0" class="form-control" placeholder="En Yüksek Fiyat">
            <p></p>
        </div>
        <div class="mb-1">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label">
                  Default radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label">
                  Default radio
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>