<!-- Kayıt Listesi-->
<div class="card">
    <div class="card-header d-flex">
        <div class="col-6">
            <h4>Liste</h4>
        </div>
        <div class="col-6"><a class="btn btn-outline-success btn-sm float-end" routerLink="../kayitekle"><i class="fas fa-plus"></i> Yeni Ekle</a></div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="text-center">
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>İlan Türü</th>
                        <th>Fiyat</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let kayit of kayitlar;index as i">
                        <td>{{i+1}}</td>
                        <td>{{kayit.IlanBaslik}}</td>
                        <td>{{kayit.IlanTipi}}</td>
                        <td>{{kayit.Fiyat}}</td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm mx-1" (click)="kayitSec(kayit)" data-bs-toggle="modal" data-bs-target="#detay"><i class="fas fa-address-card"></i> Detay</button>
                            <button class="btn btn-outline-warning btn-sm mx-1" [routerLink]="['../kayitduzenle',kayit.key]"><i class="fas fa-edit"></i> Düzenle</button>
                            <button class="btn btn-outline-danger btn-sm mx-1" (click)="kayitsil(kayit)"><i class="fas fa-trash-alt"></i> Sil</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Detay -->
<div class="modal fade" id="detay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">İlan Detayları</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form style="font-size: 0.5rem;">
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Fotoğraflar</label>
                        <img class="img-fluid rounded  mx-2" src="{{secKayit.Foto1}}" alt="" width="100"> <img class="img-fluid rounded  mx-2" src="{{secKayit.Foto2}}" alt="" width="100"> <img class="img-fluid rounded  mx-2" src="{{secKayit.Foto3}}" alt=""
                            width="100">

                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Başlık</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.IlanBaslik}}">
                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Türü</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.IlanTipi}}">
                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Fiyat</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.Fiyat}}">
                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">İl İlçe</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.Il}}"><input type="text" class="form-control" readonly value=" {{secKayit.Ilce}}">
                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Oda Sayısı</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.OdaSayisi}}">
                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Metrekare</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.MKare}}">
                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Eşya Durumu</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.EsyaDurum}}">
                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Açıklama</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.IlanAciklama}}">
                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Ekleme Tarihi</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.EklemeTarih | date:'dd/MM/yyyy HH:mm:ss'}}">
                    </div>
                    <div class="mb-1 d-flex">
                        <label class="form-label col-md-3">Düzenleme Tarihi</label>
                        <input type="text" class="form-control" readonly value=" {{secKayit.DuzenlemeTarih | date:'dd/MM/yyyy HH:mm:ss'}}">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>