<navbar></navbar>
<div class="container mt-3">
    <div class="card mb-3 ilan">
        <div class="row">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ms-2 float-middle">
                        <img class="rounded mx-2 mb-2" src="{{secKayit.Foto1}}" alt="" height="200">
                        <img class="rounded mx-2 mb-2" src="{{secKayit.Foto2}}" alt="" height="200">
                        <img class="rounded mx-2 mb-2" src="{{secKayit.Foto3}}" alt="" height="200">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ms-5 mt-5 row">
                        <h5 class="card-title">{{secKayit.IlanBaslik}}</h5>
                        <p class="card-text">{{secKayit.Fiyat |number}} <i class="fas fa-lira-sign"></i></p>
                        <p class="card-text"><i class="fas fa-home"></i> {{secKayit.IlanTipi}} | <i class="fas fa-bed"></i> {{secKayit.OdaSayisi}}</p>
                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{secKayit.Il}} - {{secKayit.Ilce}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 ms-5">
                        <p class="card-text"><i class="fas fa-check"></i> {{secKayit.MKare}}</p>
                        <p class="card-text"><i class="fas fa-check"></i> {{secKayit.EsyaDurum}}</p>
                        <p class="card-text"><i class="fas fa-check"></i> {{secKayit.Isinma}}</p>

                        <p class="card-text"><small class="text-muted">Bu ilan {{secKayit.EklemeTarih | date:'dd/MM/yyyy HH:mm:ss'}} tarihinde eklenmiştir.</small></p>
                        <p class="card-text"><small class="text-muted">İlan son güncelleme tarihi: {{secKayit.DuzenlemeTarih | date:'dd/MM/yyyy HH:mm:ss'}}</small></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>